@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

/* =============== CSS RESET =============== */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* =============== INITIAL PAGE FORMATTING AND SETUP =============== */
#page-wrapper {
  height: 100vh;
  border-top: 2px solid black;
  box-sizing: border-box;
}

#page-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.header {
  padding: 2.5em 0 4em;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =============== CONTENT STYLING =============== */
.content {
  display: flex;
  flex: 1;
}

.info {
  flex-direction: column;
  display: flex;
  flex: 1;
  padding: 0 4em;
}

.btn {
  height: 45px;
  width: 95px;
  border-radius: 45px;
  background-color: #212121;
  border: none;
  color: white;
}

.btn:hover {
  opacity: 0.75;
}

.icon {
  background-color: transparent;
  color: black;
  border-radius: 0;
  height: 30px;
  width: 30px;
}

.cta {
  align-self: flex-end;
}

.close {
  font-size: 24px;
  font-weight: 300;
}

#results {
  margin-top: 2em;
}

/* =============== FORM STYLING =============== */

#modal-container {
  background-color: white;
  border-radius: 1em;
  border: 2px solid;
  visibility: hidden;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  min-width: 400px;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 10px #888888;
}

#modal-container[style*="visible"] {
  animation: fadeIn 0.5s;
}

#input-form {
  display: inherit;
  flex-direction: inherit;
}

#top-field {
  justify-content: space-between;
  align-content: space-between;
  margin-top: 1em;
  display: inherit;
}

#input-form textarea {
  height: 200px;
}

.submit {
  width: 100%;
  margin-top: 1em;
}

/* =============== GENERAL STYLES =============== */
* {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  color: black;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
  font-weight: 100;
  border-bottom: 1px solid;
}

img {
  height: 100%;
}

table {
  width: 100%;
}

footer {
  font-size: 0.8em;
  margin: 2em;
  text-align: center;
}

input:invalid,
textarea:invalid,
select:invalid {
  border-bottom: 1px dashed #ff5733;
}

th,
select,
input,
textarea {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  padding: 0.5em 0;
  margin: 0.5em 0;
  transition: border-color 0.2s;
}

/* =============== ANIMATION =============== */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =============== MEDIA QUERIES =============== */
