/*Style your own assignment! This is fun! */
body {
    display: flex;
    background-color: rgb(238, 238, 238);
    font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
    padding: 20px;
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-size: xx-large;
  }

  main {
    display: flexbox;
    background-color: #CAEEFA;
    min-width: 50vh;
    max-width: 100vh;
    margin: 0px 0px;
    border: 0.2em solid #95A7AD;
    padding: 20px;
    border-radius: 0.25em;
    flex-grow: 1;
  }

  .timer {
    margin: 1em;
    text-align: center;
  }

  #clickarea {
    display: flex;
    background-color: #C8B1FA;
    margin: 0px 0px;
    border: 0.2em solid #8572AD;
    padding: 20px;
    border-radius: 0.25em;
    flex-grow: 1;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 20vh;
  }

  #begin{
    background-color: #FAEABE;
    border-radius: 1em;
    font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
    margin:auto;
  }

  .information {
    font-size: 1.25em;
    padding : 0.5em 0.75em;
  }

  #formButton {
    visibility: hidden;
  }

  #score {
    background-color: #FAEABE;
    border: 0.2em solid #77705b;
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
    margin: 0.25em 1em;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap: wrap;
  }

  .num {
    border-radius: 0.25em;
    display:inline-flex;
    padding: auto 1em;
    border: 0.2em solid #ccbf9c;
  }

  #result {
    background-color: #ccbf9c;
    border: 0.2em solid #ccbf9c;
    margin-right: 1em;
  }

  #clicks {
    background-color: #ccbf9c;
    border: 0.2em solid #ccbf9c;
    margin-right: 1em;
  }

  form {
    font-family: Helvetica, sans-serif;
    visibility: visible;
    display:flex;
    justify-self: flex-end;
    margin-left: auto;
  }